*{
    padding: 0;
    margin: 0;
}
body{
    font-size: 67.5%;
}
.parent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    margin-top: 25rem;
    border: solid balck;
    border-radius: 10%;
}
.btn_div{
    display: flex;
    justify-content: space-between;
}
#input{
    resize: none;
}
#btn, #delete {
    border: solid black;
    border-radius: 5%;
    background-color: black;
    color: white;
}
#span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: black;
    background-color: grey;
    margin: 1rem;
}