body {
    background-color: black;
}
.parent {
    width: 100%;
    height: auto;
    background-color: skyblue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.flex_item {
    margin: 1rem;
    border: solid yellow;
}
.p_flex_item {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}